.messagingWindow {
  position: fixed;
  // border: 1px solid pink;
  bottom: 0;
  right: 7%;
  height: 80vh;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  width: 30vw;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  .controls {
    padding: 0.5rem 1rem;
    .card {
      .info {
        .username {
        }
        .activeStatus {
          font-size: 0.8rem;
          color: var(--text-color-light);
          font-weight: bold;
        }
      }
    }
  }
  .messages {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2px;
    padding: 1rem;
    // border: 1px solid red;
    .message {
      border-radius: 1rem;
      color: var(--text-color);
      font-weight: normal;
      padding: 0.5rem 1rem;
      word-break: break-all;
      max-width: 70%;
      // border: 1px solid red;
      &.sent {
        align-self: flex-end;
        background-color: var(--color-dodgerblue);
      }
      &.received {
        align-self: flex-start;
        background-color: var(--bg-accent);
      }
    }
  }

  .inputButtonContainer {
    // border: 1px solid red;

    display: flex;
    align-items: flex-end;
    padding: 0.5rem 1rem;
    .textArea {
      flex: 1;
      border-radius: 1rem;
      background-color: var(--bg-accent);
      color: var(--text-color);
      font-family: inherit;
      font-weight: 400;
      padding: 0.5rem 1rem;
      outline: none;
      border: none;
      resize: none;

      &::-webkit-scrollbar {
      }
    }
    .sendButton {
      // border: 1px solid red;
      svg {
        fill: var(--color-dodgerblue);
      }
    }
  }
}
